img{
    max-width: 100%;
}

li{
    list-style: none;
}

/* DEBUG RULES */


/* HEADER NAV RULES */

.main-navbar{
    height: 70px;
}

.big-logo{
    display: none;
}

.mobile-logo{
    width: 40px;
}

.bell-color{
    color: #FF8F00;
}

/* ASIDE RULES */
    .sidebar{
        flex-basis: 68px;
        background-image: url(../img/sidebar-bg.png);
        background-color: #051E34;
        overflow: hidden;
        height: calc(100vh - 70px);
    }

    .main-content{
        flex-basis: calc(100% - 68px);
        overflow-y: auto;
        height: calc(100vh - 70px);
    }

    .sidebar__items{
        display: none;
    }

    .admin__item{
        align-self: center;
    }


    /* MAIN RULES */

    .text-bg{
        background-color: #165BBA;
    }



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .big-logo{
        display: block;
    }

    .mobile-logo{
        display: none;
    }

    .sidebar{
        flex-basis: 150px;
    }

    .main-content{
        flex-basis: calc(100% - 150px);
    }
    
    .main__items{
        flex-grow: 1;
    }
    
    .sidebar__items{
        display: inline;
    }

    
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

 }