/* DEBUG */

aside{
    border: 1px solid blue;
}

main{
    border: 1px solid green;
}

/* HEADER NAV RULES */

.big-logo{
    display: none;
}

.mobile-logo{
    width: 40px;
}

.bell-color{
    color: #FF8F00;
}

/* ASIDE RULES */
    .sidebar{
        max-width: 68px;
        background-image: url(../img/sidebar-bg.png);
        background-color: #051E34;
        overflow: hidden;
    }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .big-logo{
        display: block;
    }

    .mobile-logo{
        display: none;
    }

    .sidebar{
        width: 150px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

 }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }